body {
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 20px;
  font-family: Georgia, sans-serif;
}

h1 {
  margin-top: 0;
  font-family: Georgia, sans-serif;
}

button {
  margin-top: 10px;
  width: 100%;
}